DB_USER=postgres
DB_PASSWORD=password
DB_NAME=simple_bank_db
DB_HOST=localhost
DB_PORT=5433
DB_SSL_MODE=disable

JWT_SECRET_KEY=my_secret_key
JWT_REFRESH_KEY=my_refresh_key

SERVER_HTTP_ADDRESS=127.0.0.1:4000
SERVER_GRPC_ADDRESS=127.0.0.1:9090
